.sidebar-wrapper {
  width: 220px;
  background-color: grey;
  height: 100vh;
  position: fixed;
  left: 0;
  z-index: 1;
}

.list-group-item {
  background-color: grey !important;
  color: white !important;
}

.list-group-item:hover {
  background-color: rgb(115, 115, 115) !important;
  width: 220px !important;
}

.left-side {
  max-width: 220px !important;
}

.right-side {
  min-width: 500px !important;
}

.active {
  background-color: rgb(100, 100, 100) !important;
  width: 220px !important;
  border: none !important;
}

.fasx {
  margin-left: 15px !important;
}

.btn-outline-dark:hover {
  color: rgb(74, 74, 74) !important; 
  box-shadow:0px 0px 0px 2px rgb(13, 164, 152) inset;
  /* background-color: white !important; */
  background-color: rgb(163, 237, 255) !important;
  border: 1px solid white !important;
}

a {
  text-decoration: none !important;
  color: #474747 !important;
}

body {
    background-color: rgb(235, 235, 235) !important;
}

.card-db:hover {
 box-shadow:0px 0px 0px 2px rgb(13, 164, 152) inset;
 border: 1px solid white !important;
}

.card-link:hover {
  opacity: 1 !important;
}

.card-left {
  background-color: rgb(255, 214, 163) !important;
}

.card-middle {
  background-color: rgb(163, 237, 255) !important;
}
.card-right {
  background-color: rgb(195, 255, 163) !important;
}

.btn-sm {
  color: white !important;
}

.form-site {
  border: 1px solid #ced4da;
  width: 100%;
  border-radius: 0.25rem;
  background-color: white;
  outline: none;
  color: #495057;
  padding-left: 7px;
  padding-right: 7px;
}

a.paginate_button {
  margin: 5px !important;
}

a.paginate_button:hover {
  cursor: pointer;
  color:  rgb(13, 164, 152) !important;
}