.sidebar-wrapper {
  width: 220px;
  background-color: grey;
  height: 100vh;
  position: fixed;
  left: 0;
  z-index: 1;
}

.list-group-item {
  background-color: grey !important;
  color: white !important;
}

.list-group-item:hover {
  background-color: rgb(115, 115, 115) !important;
  width: 220px !important;
}

.left-side {
  max-width: 220px !important;
}

.right-side {
  min-width: 500px !important;
}

.active {
  background-color: rgb(100, 100, 100) !important;
  width: 220px !important;
  border: none !important;
}

.fasx {
  margin-left: 15px !important;
}

.btn-outline-dark:hover {
  background-color: rgb(222, 222, 222) !important;
  color: rgb(74, 74, 74) !important;
}

a {
  text-decoration: none !important;
}


body {
    background-color: rgb(235, 235, 235) !important;
}